*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Sacramento&display=swap');

/*Logo y BarNav*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    padding: 30px;
    right: 0;
    width: 30vw;
    background-color: rgba(253, 151, 183, 0.729);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0%);
}

.listas{
    display: inline-block;
    font-size: 30px;
    padding: 6px;
}

.listas a{
    color: black;
    list-style: none;
    margin-left: 6px;
    font-family: Calistoga;
    font-size: 30px;
    width: max-content;
}

.listas:hover{
    color: white;
    background-color: #da6489;
    border-radius: 10px;
    padding: 10px;
}

/*Botón de arriba*/
#button-up{
    width: 60px;
    height: 60px;
    background: #da6489;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
}

/*Titulo*/
.contenedor-header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(250, 208, 196, 0.447) 0%, rgba(255, 209, 255, 0.43) 100%), url(torta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 70px;
    color: white;
    background-color: #da6489;
    border-radius: 10px;
    padding: 10px;
}

.titulo{
    font-size: 200px;
}

/*Subtema 1*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #da6489;
    margin-bottom: 40px;
    font-size: 100px;
    font-family: Niconne;
}

.cont-karols {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-karols img{
    width: 25%;
}

.checklist-laskarols{
    margin-bottom: 20px;
}

.n-karols{
    margin-bottom: 7px;
    color: #c03460;
    font-size: 50px;
    text-align: center;
}

.copy{
    font-size: 20px;
    text-align: start;
}

/*Subtema 2*/
.cont-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-service img{
    width: 25%;
}

.checklist-laskarols {
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #c03460;
    font-size: 50px;
    text-align: center;
}

li{
    font-size: 20px;
    text-decoration: none;
}

/*Subtema 3*/
.contact{
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: #da6489;
    margin-bottom: 40px;
    font-size: 100px;
    font-family: Niconne;
}

#redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.social-media-icon{
    color: black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #da4b73;
    text-align: center;
    border-radius: 50%;
    font-size: 55px;
}

.social-media-icon:hover{
    background-color: #da4b73;
    color: white;
}

/*Linea inferior
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #da4b73;
}*/

/*Derechos de Autor*/
.texto-final{
    text-align: center;
    margin-top: 10px;
    border-top: #da4b73 3px solid;
}

/*Tamaño para dispositivos*/
@media screen and (max-width: 300px){
    .menu-navegacion{
       width: 60vw; 
    }

    .listas a{
        font-size: 25px;
    }

    .title{
        font-size: 25px;
    }

    .titulo{
        font-size: 50px;
        text-align: center;
    }

    .video{
        width: 300px;
    }

    .n-karols{
        font-size: 25px;
    }

    .n-service{
        font-size: 25px;
    }

    .subtitulo{
        font-size: 60px;
    }

    .contact{
        font-size: 60px;
    }

   .copy{
    font-size: 20px;
   }

    .cont-karols img{
        width: 40%;
        margin-bottom: 40px;
    }

    .cont-service img{
        width: 40%;
        margin-bottom: 40px;
    }

    li{
        font-size: 20px;
    }

    .texto-final{
        font-size: 15px;
    }

    #redes-sociales{
        margin-left: 0;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .title{
        font-size: 45px;
    }

    .titulo{
        font-size: 70px;
    }

    .subtitulo{
        font-size: 80px;
    }
}
